// Global styling to be declared here
html,
body,
#root {
    height: 100%;
}

body {
    overflow: auto;
}

* {
    font-size: 100%;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;
    line-height: 1.6;
}

// CSS Reset for HTML elements: https://www.w3schools.com/cssref/css_default_values.asp
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dialog,
img,
ul,
ol,
button {
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

ul,
ol {
    list-style: none;
}

img {
    display: block;

    a & {
        border: 0;
    }
}

a {
    color: unset;
    text-decoration: unset;
}
