@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.deleteDialog {
    background-color: $color-neutral-1;
    padding: $spacing-ui-xxSmall;
    height: 100%;
    border: 1px solid #000;

    &-label {
        margin-bottom: $spacing-ui-small;
        text-align: center;
        flex: 0;
    }
    &-buttonGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &--cancel,
        &--delete {
            padding: $spacing-ui-xxSmall $spacing-ui-xLarge;
            border-radius: $borderRadius-default;
            color: #fff;
            font-weight: 700;
            font-size: $fontSize-button;
        }

        &--cancel {
            background-color: $color-brand-3;
        }
        &--delete {
            background-color: $color-neutral-4;
        }
    }
}
