@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.loginPage {
    align-items: center;
    background-color: $color-brand-1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    &-logo {
        margin: 70px auto;
        max-width: 600px;
    }

    &-welcomeCard {
        background-color: $color-neutral-1;
        margin: 0 auto;
        max-width: 600px;
        padding: $spacing-ui-xxLarge;

        &-message {
            color: $color-text-1;
            font-size: $fontSize-heading-3;
            font-weight: 400;
            margin: 0 0 $spacing-ui-xLarge;
            text-align: center;
        }

        &-loginButton {
            background-color: $color-brand-3;
            color: $color-neutral-1;
            display: block;
            margin: auto;
            padding: $spacing-ui-small 0;
            text-align: center;
            width: 300px;
        }
    }
}
