@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.errorLayout {
    display: block;
    padding: 10% 0;
    text-align: center;

    &.page-content {
        margin-left: $spacing-navbar-width;
    }

    &-illustration {
        display: block;
        height: 200px;
        margin: 0 auto 30px;
        width: 350px;
    }

    &-text {
        color: $color-brand-1;
        font-size: $fontSize-heading-1;
        font-weight: 700;
    }
}
