@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

$previewBar-width: 500px;

.previewBar {
    background-color: $color-neutral-1;
    border: $border-default;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    overflow: auto;
    padding: $spacing-ui-medium $spacing-ui-small 0;
    position: fixed;
    width: $previewBar-width;

    // View Node Layout
    &-label {
        display: block;
        font-weight: 700;
        font-size: $fontSize-heading-4;
        color: $color-brand-2;
        text-align: center;
    }

    &-content {
        font-size: $fontSize-body-1;
        color: $color-text-1;
        line-height: $lineHeight-normal;
    }

    &-horizontalContainer {
        margin-bottom: $spacing-ui-small;
        display: flex;
        flex-direction: row;
        border: 1px solid $color-brand-1;

        &-column {
            border: 1px solid $color-brand-1;
            flex: 1 1 0;
            padding: $spacing-ui-xSmall;
        }
    }

    &-verticalContainer {
        margin-bottom: $spacing-ui-small;

        &-rowTopRadius {
            border-top-left-radius: $borderRadius-attribute;
            border-top-right-radius: $borderRadius-attribute;
            padding: $spacing-ui-xSmall;
            margin-bottom: $spacing-ui-xSmall;
            text-align: center;
        }

        &-rowBottomRadius {
            border-bottom-left-radius: $borderRadius-attribute;
            border-bottom-right-radius: $borderRadius-attribute;
            padding: $spacing-ui-xSmall;
            background-color: $color-neutral-2;
            text-align: center;
        }
    }

    // Edit Node Layout
    &-ctaGroup {
        background-color: $color-neutral-1;
        bottom: 0;
        border: 1px solid #000;
        border-width: 0 1px 1px;
        display: flex;
        height: 80px;
        justify-content: space-between;
        left: 0;
        padding: $spacing-ui-small;
        position: fixed;
        right: 0;
        width: $previewBar-width;

        &-button {
            padding: $spacing-ui-xxSmall $spacing-ui-xLarge;
            border-radius: $borderRadius-default;
            color: #fff;
            font-weight: 700;
            font-size: $fontSize-button;

            &--negative {
                background-color: $color-neutral-4;
            }

            &--positive {
                background-color: $color-brand-3;
            }
        }
    }

    &-inputGroup {
        padding-bottom: $spacing-ui-large;
        position: relative;

        &-label {
            display: block;
            position: absolute;
            top: -11px;
            left: $spacing-ui-xxSmall;
            font-weight: 700;
            font-size: $fontSize-body-1;
            color: $color-brand-2;
            text-align: left;
            padding: 0 2px;
            background-color: $color-neutral-1;
        }

        &-input,
        &-textarea,
        &-dropdown {
            width: 100%;
            border-radius: 4px;
            outline: 0;
            padding: $spacing-ui-xxSmall;
            border: 1px solid $color-neutral-2;

            &:focus,
            &:active {
                border-color: $color-brand-2;
            }

            &::placeholder {
                opacity: 1;
                color: #d7dbdd;
            }
        }

        &-textarea {
            min-height: 1.6em;
            resize: vertical;
            overflow: hidden;
        }

        &-dropdown-item {
            padding: $spacing-ui-xxSmall $spacing-ui-medium;
            font-size: $fontSize-button;
            font-weight: 700;
        }
    }
}

.tree {
    background-color: $color-tree;
}

.horizon {
    background-color: $color-horizon;
}

.injection {
    background-color: $color-injection;
}

.lever {
    background-color: $color-lever;
}

.strategy {
    background-color: $color-strategy;
}
