@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.navbar {
    background-color: $color-brand-1;
    height: 100%;
    position: fixed;
    width: $spacing-navbar-width;

    &-item {
        display: block;
        padding: $spacing-ui-small;

        &.active {
            background-color: $color-brand-2;
        }

        &-icon,
        &-label {
            display: inline-block;
            vertical-align: middle;
        }

        &-icon {
            margin-right: $spacing-ui-xxSmall;
        }

        &-label {
            color: $color-neutral-1;
            font-size: $fontSize-heading-3;
            font-weight: 700;
            line-height: $lineHeight-loose;
            max-width: 175px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &-user {
        padding: $spacing-ui-small;
        margin-bottom: $spacing-ui-medium;

        &-avatar,
        &-info {
            display: inline-block;
            vertical-align: middle;
        }

        &-avatar {
            border-radius: 50%;
            height: auto;
            margin-right: $spacing-ui-xxSmall;
            width: 50px;
        }

        &-info {
            &-name {
                color: $color-neutral-1;
                font-size: $fontSize-heading-4;
                font-weight: 700;
            }

            &-access {
                color: $color-text-2;
                font-size: $fontSize-body-1;
            }
        }
    }
}

.page-content {
    height: 100%;
    margin-left: $spacing-navbar-width;
}
