// Brand Colors
$color-brand-1: #1d1765;
$color-brand-2: #371ee1;
$color-brand-3: #51a7ff;
$color-brand-4: #0085a1;

// Neutral Colors
$color-neutral-1: #fff;
$color-neutral-2: #eee;
$color-neutral-3: #9d9d9d;
$color-neutral-4: #f78c74;

// Text Colors
$color-text-1: #0f2a46;
$color-text-2: #afa5f3;
$color-text-3: #2387ee;

// Entity Type Colors
$color-tree: #afa5f3;
$color-horizon: #ff7675;
$color-injection: #fdc86e;
$color-lever: #55efc4;
$color-strategy: #74b9ff;
